<div class="container">
  <h1>За мен</h1>
  <div class="section">
    <h2 class="section-title" (click)="foldSection($event)">Информация за мен</h2>
    <p class="section-content">Здравейтее, котетаa!!! Аз се казвам Кристин Цанева и съм Angular разработчик.</p>
  </div>


<div class="section">
  <h2 class="section-title" (click)="foldSection($event)">Хобита и интереси</h2>
  <p class="section-content">Когато не програмирам обичам да излизам навън с приятели, да гледам сериали и да пътувам.</p>
</div>

<div class="section">
  <h2 class="section-title" (click)="foldSection($event)">Любими content creator-и</h2>
  <p class="section-content">Любимите ми content creator-и са <a class="link" href="https://www.youtube.com/@TheBleChannel">Цуро</a>, <a class="link" href="https://www.youtube.com/@SturnioloTriplets">The Sturniolo Triplets</a> and <a class="link" href="https://www.youtube.com/@FaithGeorgieva">Faith Georgieva</a></p>
</div>

<div class="section">
  <h2 class="section-title" (click)="foldSection($event)">Моят канал</h2>
  <p class="section-content">В моя канал AngularWithKrisi ще намерите всичко необходимо, за да започнето да разработвате проекти с Angular.</p>
</div>

<div class="section">
  <h2 class="section-title" (click)="foldSection($event)">Цени на услугите</h2>
  <p class="section-content">Цените на зависят от сложността и изискванията на проекта. При интерес може да се свържете с мен на някоя от посочените социални мрежи или по имейл.</p>
</div>

</div>